.webserviceName .separator {
    margin-left: 5px;
    margin-right: 5px;
}

.urlSmall {
    font-size: 12px;
}

a.wsLabel {
   color: #ffffff;
}

a.wsLabel:hover {
   text-decoration: none;
}

.label-http-GET { background-color: #0f6ab4; }
.label-http-POST { background-color: #10a54a; }
.label-http-DELETE { background-color: #a41e22; }
.label-http-PUT { background-color: #c5862b; }
.label-http-HEAD { background-color: #808000; }


.httpMethod-GET {
   background-color: #0f6ab4;
   color: #FFFFFF;
   padding:5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   margin-right:5px;
}

.httpMethod-POST {
   background-color: #10a54a;
   color: #FFFFFF;
   padding:5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   margin-right:5px;
}

.httpMethod-PUT {
   background-color: #c5862b;
   color: #FFFFFF;
   padding:5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   margin-right:5px;
}

.httpMethod-HEAD {
   background-color: #808000;
   color: #FFFFFF;
   padding:5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   margin-right:5px;
}

.httpMethod-DELETE {
   background-color: #a41e22;
   color: #FFFFFF;
   padding:5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   margin-right:5px;
}

.deprecatedLabel {
    background-color: #cc3300;
    color: #FFFFFF;
    padding:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right:5px;
}


.outputFormat {
   background-color: grey;
   color: #FFFFFF;
   padding:5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   margin-right:5px;
}

.deprecatedWS {
   background-color: #610B0B;
   color: #FFFFFF;
   padding:5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   text-transform:uppercase;
   margin-right:10px;
}

.categoryHdr { margin-top: 30px; }

.webService {
    background-color: #e7f0f7;
    border: 1px solid #c3d9ec;
    padding-left:10px;
    cursor:pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.examples {
    margin-bottom: 10px;
}

.examples > ul {
    list-style-type: circle;
}

select {
    width: 220px;
}

.fieldcontain > label {
    display: block;
    font-weight: normal;
}

.fieldcontain > select {
    display: block;
}

.fieldcontain > input {
    width: 600px;
}

.fieldcontain > textarea {
    width: 600px;
    height: 220px;
}

.fieldcontain {
    margin-top: 15px;
}

.fieldcontain > ul {
    list-style: circle;
}

fieldset.buttons {
    margin-top: 30px;
}

.input-xxlarge {
    float: none;
}

.checkbox {
    margin-left: 20px;
}

.editorFunctions {
    width: 100%;
}

/*.editorFunctions > ul {*/
/*z-index: 101;*/
/*}*/

.editorFunctions > span > a {
    /*padding: 0px;*/
    /*border: 0px;*/
    /*line-height: 0px;*/
    /*display: block;*/
}

.editorFunctions > span > a > i {
    /*padding: 0px;*/
    /*border: 0px;*/
    /*line-height: 0px;*/
    /*display: block;*/
}

.skip {
    display: none;
}

ul.breadcrumb {
    display: none;
}

h4 {
    font-weight: normal;
}

.pagination > a {
    padding-right: 5px;
}

.pagination > span {
    padding-right: 5px;
}

#paramValue {
    width: 500px;
}

.fieldcontain > select {
    width: 500px;
}

table > tbody > tr > td.paramCheckboxes {
    padding-top: 0px;
}